xmlschema/opcua_map.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://github.com/ChimeraTK/DeviceAccess-OpcUaBackend"
	xmlns:csabackend="https://github.com/ChimeraTK/DeviceAccess-OpcUaBackend">

	<xs:annotation>
		<xs:documentation xml:lang="en"> Map file description schema for ChimeraTK
			DeviceAccess-OpcUaBackend. Using a map file is optional and allows to define single PVs
			that are to be subscribed from the target OPC UA server. Alternatively, it is also
			possible to connect to an OPC UA server without a map file. In that case the server will
			be browsed and all PVs are added to the device. This only works for OPC UA servers that
			are created using the ChimarTK OPC UA control system adapter! </xs:documentation>
	</xs:annotation>

	<xs:element name="opcua_map" type="csabackend:opcua_mapType" />
	<xs:complexType name="pvType">
		<xs:simpleContent>
			<xs:annotation>
				<xs:documentation xml:lang="en"> The node id, which might be an integer in case of a
					numeric node identifier or a string in case of a string node identifier. </xs:documentation>
			</xs:annotation>
			<xs:extension base="csabackend:nonEmptyString">
				<xs:attribute type="csabackend:nonEmptyString"
					name="range">
					<xs:annotation>
						<xs:documentation xml:lang="en"> An indexRange string as defined in the OPC
							UA standard. Here we only handle one dimension so poosible ranges are: -
							"2" to select the second element only - "2:5" to select the array
							elements 2 to 5 </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute type="xs:byte" name="ns" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en"> The namespace of the node the be
							subscribed. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute type="csabackend:nonEmptyString"
					name="name">
					<xs:annotation>
						<xs:documentation xml:lang="en"> Name of the node as it will appear in the
							device. If not given the name will be constucted from the node name. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="opcua_mapType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element type="csabackend:pvType" name="pv">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Information about the PV to be subscribed. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="nonEmptyString">
		<xs:restriction base='xs:string'>
			<xs:minLength value='1' />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>