xmlschema/opcua_cache.xsd

<xs:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://github.com/ChimeraTK/DeviceAccess-OpcUaBackend"
    xmlns:ctkbackend="https://github.com/ChimeraTK/DeviceAccess-OpcUaBackend">
    <xs:annotation>
        <xs:documentation xml:lang="en"> Map file description schema for ChimeraTK
            DeviceAccess-OpcUaBackend cache files. Cache files are created automatically if the
            feature is enabled in the backend using the cacheFile parameter. However they can also
            be created manually. </xs:documentation>
    </xs:annotation>

    <xs:element name="catalogue" type="ctkbackend:catalogueType" />

    <xs:complexType name="generalType">
        <xs:sequence>
            <xs:element type="xs:string" name="serverAddress" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation> The server address, e.g. opc.tcp://localhost:4840. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="registerType">
        <xs:sequence>
            <xs:element type="xs:string" name="name">
                <xs:annotation>
                    <xs:documentation> If server node id was renamed in the map file this is the new
                        name, which will be used as register name. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="description">
                <xs:annotation>
                    <xs:documentation> Node description. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:byte" name="length">
                <xs:annotation>
                    <xs:documentation> Node length information. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="access_mode">
                <xs:annotation>
                    <xs:documentation> Register access mode information. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:byte" name="readOnly">
                <xs:annotation>
                    <xs:documentation> Node access level read from the server. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:byte" name="typeId">
                <xs:annotation>
                    <xs:documentation> Register/node type. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:byte" name="nameSpace">
                <xs:annotation>
                    <xs:documentation> Name space of the node. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:byte" name="isNumeric">
                <xs:annotation>
                    <xs:documentation> Node id is numeric. Else it is a string node ID. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="indexRange">
                <xs:annotation>
                    <xs:documentation> Index range of the node as given in the map file. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="catalogueType">
        <xs:sequence minOccurs="1">
            <xs:element type="generalType" name="general" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation> General server information. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="registerType" name="register" maxOccurs="unbounded" minOccurs="1">
                <xs:annotation>
                    <xs:documentation> Register specific information. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:float" name="version" />
    </xs:complexType>

</xs:schema>